body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: #373A3C;
  font-weight: 400;
}

.navbar, #mis-trabajos, #footer {
  background-color: #660066;
}

.nav-icon {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.katherine {
  background-image: url('../img/bg_hero.png');
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

hr {
  height:2px;
  border-width:0;
  color:#373A3C;
  background-color:#373A3C;
  width:5rem;
}

.oswald {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.oswald-extralight {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

.header-text {
  padding-top: 8rem;
  margin-top: 15rem;
  padding-bottom: 5rem;
}

.card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: normal;
}

h1 {
  text-decoration: overline;
}

h3{
  font-weight: 600;
}

h5 {
  font-weight: 300;
}

p {
  line-height: 2rem;
}

.purple {
  color: #660066;
}
